 @{
        ViewBag.Title = "Detail";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <h2>Chi Tiết Loại Phòng</h2>
    <fieldset>
        <div class="display-label">Mã loại phòng : @Model.maloaiPhong</div>
        <div class="display-label">Tên loại phòng: @Model.tenloaiphong</div>
    </fieldset>
    @using (Html.BeginForm())
    {
        <p>
            @Html.ActionLink("Xóa", "Delete", new { id = Model.maloaiPhong }) |
            @Html.ActionLink("Sửa", "Edit", new { id = Model.maloaiPhong }) |
            @Html.ActionLink("Trở Về", "Index")
        </p>
    }

