@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Chi Tiết Trạng Thái Thanh Toán</h2>
<fieldset>
    <div class="display-label">Mã Thanh Toán : @Model.mathanhtoan</div>
    <div class="display-label">Trạng Thái: @Model.trangthai</div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        @Html.ActionLink("Xóa", "Delete", new { id = Model.mathanhtoan }) |
        @Html.ActionLink("Sửa", "Edit", new { id = Model.mathanhtoan }) |
        @Html.ActionLink("Trở Về", "Index")
    </p>
}



